servidor/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f5beac5.d50694","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"EjeX,60.32,EjeY,70.21,EjeZ,80.21,temp_data,41.54,pres_data,1010.23,humd_data,45.32","payloadType":"str","x":200,"y":140,"wires":[["24d16ad.2206296"]]},{"id":"c23d6f47.2b65d","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":240,"wires":[]},{"id":"ca49342c.fe5a58","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"1","datatype":"auto","broker":"be2cea29.90f898","x":230,"y":240,"wires":[["c23d6f47.2b65d"]]},{"id":"24d16ad.2206296","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"1/sensor","qos":"1","retain":"","broker":"be2cea29.90f898","x":430,"y":140,"wires":[]},{"id":"eaf00ed8.5903a","type":"amqp in","z":"f6f2187d.f17ca8","name":"","topic":"","iotype":"4","ioname":"alert-derrumbe","server":"c2490f97.71c4f","x":290,"y":360,"wires":[["2e25d364.b6f71c"]]},{"id":"2e25d364.b6f71c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":380,"wires":[]},{"id":"9afd2e1b.0fd89","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"dbe2d8f5.c5de58","order":1,"width":6,"height":4,"label":"Eje X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":560,"wires":[[]]},{"id":"77576900.6d2168","type":"amqp in","z":"f6f2187d.f17ca8","name":"","topic":"","iotype":"4","ioname":"EjeX","server":"c2490f97.71c4f","x":200,"y":540,"wires":[["9afd2e1b.0fd89","fbd491f4.f5c9e"]]},{"id":"fbd491f4.f5c9e","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":520,"wires":[]},{"id":"be2cea29.90f898","type":"mqtt-broker","name":"","broker":"52.22.75.246","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c2490f97.71c4f","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"dbe2d8f5.c5de58","type":"ui_group","name":"Eje X","tab":"4259a3a6.2505dc","order":1,"disp":true,"width":7,"collapse":false},{"id":"4259a3a6.2505dc","type":"ui_tab","name":"derrumbe","icon":"presion","disabled":false,"hidden":false}]